//Font-Awesome buttons made usable in TinyMCE toolbar
i.mce-i-paperclip::before {
  content: "\f0c6";
  font-family: FontAwesome;
}

i.mce-i-pencil::before {
  content: "\f040";
  font-family: FontAwesome;
}

i.mce-i-file-o::before {
  content: "\f016";
  font-family: FontAwesome;
}
