.sweetspot-config {
  .main-pane {
    width: 100%;
  }

  table {
    tbody {
      tr {
        td {
          &.hotkey-controls {
            text-align: center;
            vertical-align: middle;
          }

          .edit .inherit-width {
            width: calc(~"100% - 14px");
          }
        }
      }
    }
  }
}
