{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="btn-group hide" data-toggle="buttons-checkbox">
    <a href="#{{buildRoute model=model}}" class="btn btn-mini"><i class="fa fa-list-alt"></i></a>
    <a href="#{{buildRoute model=model action="edit"}}" class="btn btn-mini"><i class="fa fa-pencil"></i></a>
    <a href="#{{buildRoute model=model action="delete"}}" class="btn btn-mini"><i class="fa fa-trash-o"></i></a>
</div>
