{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="modal-header header">
    <div class="buttons pull-right">
        <a href="javascript:void(0);" class="close" title="{{str "LBL_CLOSE_BUTTON_LABEL"}}"><i class="fa fa-times fa-sm"></i></a>
        {{#each buttons}}
        {{field ../this}}
        {{/each}}
    </div>
    <h3 class="title">{{str title module}}</h3>
</div>
