/* COLORS
  ----------------*/

/* gray scale colors */

.black { background-color: @black; }
.gray-darker { background-color: @grayDarker; }
.gray-dark { background-color: @grayDark; }
.gray { background-color: @gray; }
.gray-light { background-color: @grayLight; }
.gray-lighter { background-color: @grayLighter; }
.white { background-color: @white; }

.black-text { color: @black; }
.gray-darker-text { color: @grayDarker; }
.gray-dark-text { color: @grayDark; }
.gray-text { color: @gray; }
.gray-light-text { color: @grayLight; }
.gray-lighter-text { color: @grayLighter; }
.white-text { color: @white; }

/* accent colors */

.mint { background-color: @mint; }
.green { background-color: @green; }
.army { background-color: @army; }
.yellow { background-color: @yellow; }
.orange { background-color: @orange; }
.red { background-color: @red; }
.pink { background-color: @pink; }
.purple { background-color: @purple; }
.night { background-color: @night; }
.blue { background-color: @blue; }
.ocean { background-color: @ocean; }
.pacific { background-color: @pacific; }
.teal { background-color: @teal; }
.coral { background-color: @coral; }

.mint-text { color: @mint; }
.green-text { color: @green; }
.army-text { color: @army; }
.yellow-text { color: @yellow; }
.orange-text { color: @orange; }

.red-text,
.red-text .fa { color: @red; }
.pink-text { color: @pink; }
.purple-text { color: @purple; }
.night-text { color: @night; }
.blue-text { color: @blue; }
.ocean-text { color: @ocean; }
.pacific-text { color: @pacific; }
.teal-text { color: @teal; }
.coral-text { color: @coral; }

/* alert state colors */
.info,
.info > .fa { color: @inform; }

.info-text,
.info-text > .fa { color: @infoAlertText; }
.info-background { background-color: @infoBackground; }
.info-border { border-color: @infoBorder; }

.success,
.success > .fa { color: @success; }

.success-text,
.success-text > .fa { color: @successAlertText; }
.success-background { background-color: @successBackground; }
.success-border { border-color: @successBorder; }

.warning,
.warning > .fa { color: @warning; }

.warning-text,
.warning-text > .fa { color: @warningAlertText; }
.warning-background { background-color: @warningBackground; }
.warning-border { border-color: @warningBorder; }

.error,
.error > .fa { color: @error; }

.error-text,
.error-text > .fa { color: @errorAlertText; }
.error-background { background-color: @errorBackground; }
.error-border { border-color: @errorBorder; }

/* colors for D3 charts are in nv.d3.less */
