/* DASHBOARD
  ----------------*/
.touch .dashboard {
  top: 0;
  overflow-x: auto;
}

.touch .sidebar-content .dashboard {
  top: 1px;
}

.touch #portal .dashboard {
  padding-top: 0;
}

.dashboard {
  width: 100%;
  border-right: none;
  position: absolute;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;

  .headerpane {
    h1 {
      > .record-cell {
        &:first-child {
          width: 100%;
          max-width: 100px; //temp until better fix for ellipsis
        }

        &.edit {
          padding: 15px 0 0 20px;
        }

        .detail {
          display: inline-block;
          padding-top: 4px;
          width: inherit;
        }
      }

      input[type="text"] {
        margin: 0 0 0 -7px;
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
  }

  .cols {
    margin: 0;
    list-style: none;

    & > li:first-child {
      clear: both;
    }

    .rows {
      margin: 0;

      &.well {
        position: relative;

        & > .btn {
          position: absolute;
          top: -4px;
          right: 0;

          &:not(:nth-child(1)) {
            right: 20px;
          }

          &:hover,
          &:active {
            text-decoration: none;
            box-shadow: none !important;
          }

          &.move {
            cursor: move;
          }
        }
      }
    }

    .add-row {
      position: relative;
      margin: 0;
      padding-top: 18px;
      border: 1px dashed darken(@grayLighter, 10%);
      background-color: @white;
      cursor: pointer;

      p {
        font-size: @fontSizeLarge;
        font-weight: 500;
        text-align: center;
        color: @grayLight;

        &.header {
          line-height: 40px;
        }
      }

      .add-dashlet {
        color: @grayLight;
        text-align: center;

        small {
          font-size: @baseFontSize;
          font-weight: bold;
        }

        strong {
          font-size: 60px;
          font-weight: 900;
        }
      }

      .options {
        a {
          padding: 0 12px;
          display: inline-block;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .dashlets {
    clear: both;

    .well-invisible {
      .empty {
        margin: 0;
      }
    }

    .well {
      padding: 0;
    }

    & > li {
      padding-top: 5px;

      &:first-child {
        padding-left: 5px;
      }

      &:last-child {
        padding-right: 5px;
      }

      .dashlet-content + div {
        .block-footer {
          text-align: left;
          font-weight: normal;
          border-top: @borderWidget;
          border-radius: 0 0 @baseBorderRadius @baseBorderRadius;
        }
      }

      .block-footer {
        > .loading {
          > i {
            width: 4px;
          }
        }

        > button {
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  /* reset grid */
  .dashlets,
  .dashlet-cell {
    > [class*="span"] { margin-left: 0; }
    > .span12 { width: 100%; }
    > .span11 { width: 91.66666%; }
    > .span10 { width: 83.33333%; }
    > .span9 { width: 74.99999%; }
    > .span8 { width: 66.66666%; }
    > .span7 { width: 58.33333%; }
    > .span6 { width: 49.99999%; }
    > .span5 { width: 41.66666%; }
    > .span4 { width: 33.33333%; }
    > .span3 { width: 24.99999%; }
    > .span2 { width: 16.66666%; }
    > .span1 { width: 8.33333%; }
  }

  &.edit {
    .dashlets {
      .dashlet-container {
        padding-top: 20px;
      }

      .well {
        border: 1px dashed darken(@grayLighter, 10%);
        background: none;
      }
    }
  }

  .ui-sortable .ui-sortable-placeholder {
    height: auto !important;
  }
}

/* Dashboard inside right hand side panel */
//FIXME: UIUX-2174 will refactor this part.
.sidebar-content {
  .dashboard {
    .headerpane {
      width: calc(~"34.042553198% + 1px");
      border-left: @borderWidget;
      right: auto;
      padding: 0 5px;
      margin-left: -1px;

      .record-cell {
        .detail {
          padding-top: 1px;
        }
      }

      .record-cell:first-child {
        display: table-cell;
        position: relative;
        padding-left: 10px;
        padding-top: 14px;
        padding-right: 0;
        max-width: none;
      }

      .record-cell:last-child {
        display: table-cell;
        white-space: nowrap;
        width: auto;
        padding-right: 1.5%;
        padding-top: 16px;
      }

      h1 {
        input {
          margin-left: -4px;
        }

        div.error {
          input {
            font-size: @fontSizeHeader;
            margin-top: 0;
          }
        }

        div.dropdown {
          line-height: 24px;
          padding-right: 24px;

          & > a {
            font-size: @fontSizeHeaderTitle;
            font-weight: 600;
            color: inherit;
            padding: 4px 24px 4px 2px;
            margin-left: 0;
            max-width: 100%;
            text-align: left;
            white-space: nowrap;
            position: relative;
            overflow: hidden;
            display: inline-block;
            text-overflow: ellipsis;

            &:hover {
              color: inherit !important;
              text-decoration: none;
            }

            .fa-caret-down {
              position: absolute;
              right: 0;
              top: 5px;
            }
          }

          ul.dropdown-menu {
            min-width: 160px;
            border-radius: @borderRadiusSmall;

            & > li {
              font-size: @baseFontSize;

              .alert-process {
                padding: 8px 10px;
              }
            }
          }
        }
      }
    }

    &.edit {
      .preview-headerbar {
        border-bottom-color: darken(@grayLighter, 10%);
      }

      .dashlets {
        width: 90%;
        margin-left: 5%;
      }
    }

    .cols {
      .dashlets {
        width: 97%;
        margin-left: 1.5%;

        .rows.well:not(.well-invisible) {
          margin: 0 -0.5% auto;
          border: 1px dashed darken(@grayLighter, 10%);
        }
      }
    }

    .well {
      padding: 20px 2px 2px;
      background: transparent;
      box-shadow: none;

      &.well-invisible {
        padding-right: 0;
        padding-left: 0;
      }

      .dashlet-container {
        padding: 2px;
      }

      .dashlet-container + .dashlet-container {
        padding-top: 20px;
      }
    }

    .dashlet-row {
      li:first-child {
        .well-invisible {
          padding-top: 0;
        }
      }
    }
  }

  .drillthrough-pane {
    .headerpane .record-cell:first-child {
      padding-top: 16px;
      line-height: 28px;
    }

    .dashlets {
      padding: 10px calc(~"1.5% + 7px");
    }
  }
}

.swappable-dashlet.fa-download {
  display: none;
}

.block .tab-content {
  margin-top: -18px;
  padding: 10px;
  background: @white;
  border: @borderWidget;
  border-top: none;
  box-shadow: @shadowWidget;
}

.dashlet-unordered-list {
  .tab-content {
    height: 230px;
    overflow: auto;

    .block-footer {
      border-top: none;
    }
  }
}

/* NEW SKIN START */

.dashboard {
  /* override */
  top: 0;
  background: @contentBackground;

  .headerpane {
    h1 {
      > .record-cell {
        /* override */
        padding-top: 10px;
      }
    }
  }
}

/* Dashboard inside right hand side panel */
.sidebar-content {
  .dashboard {
    /* override */
    padding-top: 0;

    .headerpane {
      .record-cell:first-child {
        /* override */
        padding-top: 11px;
      }
    }
  }
}

.side .dashboard {
  /* override */
  top: 56px;
}

.touch {
  .sidebar-content .dashboard,
  .dashboard {
    /* override */
    padding-top: 53px;
  }
}

/* NEW SKIN END */
