.dashlet .erasure {
  .panel.header {
    background-color: @subpanelBackground;
    border-bottom: 1px solid @white;

    strong {
      font-weight: bold;
      font-size: @fontSizeMedium + 1;
      text-transform: uppercase;
      padding-left: 5px;
    }
  }
}
