{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
{{#each meta.panels}}
<table class="table table-striped dataTable">
    <thead>
        {{partial 'row-header' ../this view=../this fields=fields}}
    </thead>
    <tbody>
        {{#each ../collection.models}}
            {{partial 'row' ../../this view=../../this model=this module=this.module fields=../fields}}
        {{/each}}
    </tbody>
</table>
{{/each}}
