{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<h1>{{str 'LBL_SWEETSPOT_CONFIG_HOTKEYS'}}</h1>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th class="span5">{{str 'LBL_SWEETSPOT_ACTION'}}</th>
        <th class="span5">{{str 'LBL_SWEETSPOT_KEY'}}</th>
        <th class="span1"></th>
    </tr>
    </thead>
    <tbody data-sweetspot="actions"></tbody>
</table>
