{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="btn-toolbar pull-left" id="forecastsTree">
    <div class="btn-group">
        <a class="dropdown-toggle btn btn-invisible" data-toggle="dropdown" href="#">
            <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu carettop">
            <li>
                <div id="people" class="jstree-sugar" id="forecasts-jstree"></div>
            </li>
        </ul>
    </div>
</div>
