{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="modal hide">
    <div class="modal-header">
        <a class="close" data-dismiss="modal"><i class="fa fa-times"></i></a>
        <h3>{{str "LBL_NEW_FORM_TITLE" module}}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" enctype="multipart/form-data" method="POST">
            <fieldset>
                {{#each meta.panels}}
                {{#each fields}}
                <div class="row-fluid control-group">
                <label class="span2">{{str this.label ../../this.model.module}}</label>
                <div class="span10">{{field ../../this model=../../context.attributes.createModel template="edit"}}</div>
                </div>
                {{/each}}
                {{/each}}
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        {{#each meta.buttons}}
        {{field ../this model=../createModel}}
        {{/each}}
    </div>
</div>
