{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="thumbnail dashlet" data-type="dashlet" data-action="droppable">
    {{#if meta.preview}}
        <h4 data-toggle="dashlet" class="dashlet-title">{{meta.label}}</h4>
    {{else}}
        <div data-dashlet="toolbar"></div>
    {{/if}}
    <div data-dashlet="dashlet" class="dashlet-content"></div>
    <div class="fa fa-download swappable-dashlet"></div>
</div>
