{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<!-- Icons
================================================== -->
<script src="styleguide/content/charts/js/chart-utils.js"></script>

<section id="icons">
  <div class="page-header">
    <p class="lead">{{{meta.description}}}</p>
  </div>

  <p>Font Awesome gives you scalable vector icons that can instantly be customized — size, color, drop shadow, and anything that can be done with the power of CSS. [<a href="http://fontawesome.io/" target="_blank"><i class="fa fa-book"></i> Font Awesome Docs</a>][<a href="https://github.com/FortAwesome/Font-Awesome" target="_blank">Font Awesome GitHub project.</a>]</p>
</section>

<section id="icons-new">
  <div class="row-fluid">
    <div class="span12">
      <h3 class="page-header">Icons Used in Sugar7</h3>
      <p>The following fonts are used in the Sugar7 application.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <ul class="the-icons">
<li><i class="fa fa-arrow-down"></i> fa-arrow-down</li>
<li><i class="fa fa-arrow-left"></i> fa-arrow-left</li>
<li><i class="fa fa-arrow-right"></i> fa-arrow-right</li>
<li><i class="fa fa-arrow-up"></i> fa-arrow-up</li>
<li><i class="fa fa-ban"></i> fa-ban</li>
<li><i class="fa fa-book"></i> fa-book</li>
<li><i class="fa fa-briefcase"></i> fa-briefcase</li>
<li><i class="fa fa-calendar"></i> fa-calendar</li>
<li><i class="fa fa-caret-down"></i> fa-caret-down</li>
<li><i class="fa fa-caret-left"></i> fa-caret-left</li>
<li><i class="fa fa-caret-right"></i> fa-caret-right</li>
<li><i class="fa fa-caret-up"></i> fa-caret-up</li>
<li><i class="fa fa-chevron-down"></i> fa-chevron-down</li>
<li><i class="fa fa-chevron-left"></i> fa-chevron-left</li>
<li><i class="fa fa-chevron-right"></i> fa-chevron-right</li>
<li><i class="fa fa-chevron-up"></i> fa-chevron-up</li>
<li><i class="fa fa-circle"></i> fa-circle</li>
<li><i class="fa fa-cog"></i> fa-cog</li>
<li><i class="fa fa-comment"></i> fa-comment</li>
<li><i class="fa fa-comments-o"></i> fa-comments-o</li>
<li><i class="fa fa-angle-double-down"></i> fa-angle-double-down</li>
<li><i class="fa fa-angle-double-left"></i> fa-angle-double-left</li>
<li><i class="fa fa-angle-double-right"></i> fa-angle-double-right</li>
<li><i class="fa fa-angle-double-up"></i> fa-angle-double-up</li>
<li><i class="fa fa-arrow-circle-o-down"></i> fa-arrow-circle-o-down</li>
      </ul>
    </div>
    <div class="span4">
      <ul class="the-icons">
<li><i class="fa fa-download"></i> fa-download</li>
<li><i class="fa fa-ellipsis-h"></i> fa-ellipsis-h</li>
<li><i class="fa fa-ellipsis-v"></i> fa-ellipsis-v</li>
<li><i class="fa fa-envelope"></i> fa-envelope</li>
<li><i class="fa fa-exclamation-circle"></i> fa-exclamation-circle</li>
<li><i class="fa fa-eye-slash"></i> fa-eye-slash</li>
<li><i class="fa fa-eye"></i> fa-eye</li>
<li><i class="fa fa-arrows-alt"></i> fa-arrows-alt</li>
<li><i class="fa fa-globe"></i> fa-globe</li>
<li><i class="fa fa-users"></i> fa-users</li>
<li><i class="fa fa-info-circle"></i> fa-info-circle</li>
<li><i class="fa fa-link"></i> fa-link</li>
<li><i class="fa fa-list-alt"></i> fa-list-alt</li>
<li><i class="fa fa-minus"></i> fa-minus</li>
<li><i class="fa fa-minus-circle"></i> fa-minus-circle</li>
<li><i class="fa fa-mobile"></i> fa-mobile</li>
<li><i class="fa fa-arrows"></i> fa-arrows</li>
<li><i class="fa fa-check"></i> fa-check</li>
<li><i class="fa fa-check-circle"></i> fa-check-circle</li>
<li><i class="fa fa-pencil"></i> fa-pencil</li>
<li><i class="fa fa-plus"></i> fa-plus</li>
<li><i class="fa fa-plus-circle"></i> fa-plus-circle</li>
<li><i class="fa fa-plus-square"></i> fa-plus-square</li>
<li><i class="fa fa-question-circle"></i> fa-question-circle</li>
<li><i class="fa fa-refresh"></i> fa-refresh</li>
      </ul>
    </div>
    <div class="span4">
      <ul class="the-icons">
<li><i class="fa fa-times"></i> fa-times</li>
<li><i class="fa fa-times-circle-o"></i> fa-times-circle-o</li>
<li><i class="fa fa-times-circle"></i> fa-times-circle</li>
<li><i class="fa fa-expand"></i> fa-expand</li>
<li><i class="fa fa-arrows-h"></i> fa-arrows-h</li>
<li><i class="fa fa-arrows-v"></i> fa-arrows-v</li>
<li><i class="fa fa-road"></i> fa-road</li>
<li><i class="fa fa-search"></i> fa-search</li>
<li><i class="fa fa-sign-out"></i> fa-sign-out</li>
<li><i class="fa fa-sitemap"></i> fa-sitemap</li>
<li><i class="fa fa-sort"></i> fa-sort</li>
<li><i class="fa fa-sort-down"></i> fa-sort-down</li>
<li><i class="fa fa-sort-up"></i> fa-sort-up</li>
<li><i class="fa fa-star"></i> fa-star</li>
<li><i class="fa fa-star-o"></i> fa-star-o</li>
<li><i class="fa fa-table"></i> fa-table</li>
<li><i class="fa fa-th"></i> fa-th</li>
<li><i class="fa fa-th-list"></i> fa-th-list</li>
<li><i class="fa fa-clock-o"></i> fa-clock-o</li>
<li><i class="fa fa-trash-o"></i> fa-trash-o</li>
<li><i class="fa fa-chain-broken"></i> fa-chain-broken</li>
<li><i class="fa fa-arrow-circle-o-up"></i> fa-arrow-circle-o-up</li>
<li><i class="fa fa-user"></i> fa-user</li>
<li><i class="fa fa-wrench"></i> fa-wrench</li>
      </ul>
    </div>
  </div>
</section>

<section id="icons-sugarfont">
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-header">SugarFont icons</h3>
            <h4>
                <em>custom SugarFont (sugarcrm/styleguide/assets/fonts/)</em>
            </h4>
        </div>
    </div>


    <div class="row-fluid">

        <div class="span3">
            <ul class="the-icons">
                <li><i class="fa fas fa-envelope-open"></i> fas fa-envelope-open</li>
                <li><i class="fa fas fa-sugar-link"></i> fas fa-sugar-link</li>
                <li><i class="fa fas fa-tag-private"></i> fas fa-tag-private</li>
                <li><i class="fa fas fa-clock-o-private"></i> fas fa-clock-o-private</li>
                <li><i class="fa fas fa-dashboard-default"></i> fas fa-dashboard-default</li>
                <li><i class="fa fas fa-favorite-private"></i> fas fa-favorite-private</li>
                <li><i class="fa fas fa-filter-default"></i> fas fa-filter-default</li>
            </ul>
        </div>

</section>

<section id="icons-new">
  <div class="row-fluid">
    <div class="span12">
      <h3 class="page-header">All Other Icons</h3>
      <p>The following fonts are not used in the Sugar7 application.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <ul class="the-icons">
<li><i class="fa fa-adjust"></i> fa-adjust</li>
<li><i class="fa fa-adn"></i> fa-adn</li>
<li><i class="fa fa-align-center"></i> fa-align-center</li>
<li><i class="fa fa-align-justify"></i> fa-align-justify</li>
<li><i class="fa fa-align-left"></i> fa-align-left</li>
<li><i class="fa fa-align-right"></i> fa-align-right</li>
<li><i class="fa fa-ambulance"></i> fa-ambulance</li>
<li><i class="fa fa-anchor"></i> fa-anchor</li>
<li><i class="fa fa-android"></i> fa-android</li>
<li><i class="fa fa-angle-down"></i> fa-angle-down</li>
<li><i class="fa fa-angle-left"></i> fa-angle-left</li>
<li><i class="fa fa-angle-right"></i> fa-angle-right</li>
<li><i class="fa fa-angle-up"></i> fa-angle-up</li>
<li><i class="fa fa-apple"></i> fa-apple</li>
<li><i class="fa fa-archive"></i> fa-archive</li>
<li><i class="fa fa-arrow-circle-down"></i> fa-arrow-circle-down</li>
<li><i class="fa fa-arrow-circle-left"></i> fa-arrow-circle-left</li>
<li><i class="fa fa-arrow-circle-o-left"></i> fa-arrow-circle-o-left</li>
<li><i class="fa fa-arrow-circle-o-right"></i> fa-arrow-circle-o-right</li>
<li><i class="fa fa-arrow-circle-right"></i> fa-arrow-circle-right</li>
<li><i class="fa fa-arrow-circle-up"></i> fa-arrow-circle-up</li>
<li><i class="fa fa-asterisk"></i> fa-asterisk</li>
<li><i class="fa fa-backward"></i> fa-backward</li>
<li><i class="fa fa-bar-chart-o"></i> fa-bar-chart-o</li>
<li><i class="fa fa-barcode"></i> fa-barcode</li>
<li><i class="fa fa-bars"></i> fa-bars</li>
<li><i class="fa fa-beer"></i> fa-beer</li>
<li><i class="fa fa-bell"></i> fa-bell</li>
<li><i class="fa fa-bell-o"></i> fa-bell-o</li>
<li><i class="fa fa-bitbucket"></i> fa-bitbucket</li>
<li><i class="fa fa-bitbucket-square"></i> fa-bitbucket-square</li>
<li><i class="fa fa-bitcoin"></i> fa-bitcoin</li>
<li><i class="fa fa-bold"></i> fa-bold</li>
<li><i class="fa fa-bolt"></i> fa-bolt</li>
<li><i class="fa fa-bookmark"></i> fa-bookmark</li>
<li><i class="fa fa-bookmark-o"></i> fa-bookmark-o</li>
<li><i class="fa fa-btc"></i> fa-btc</li>
<li><i class="fa fa-bug"></i> fa-bug</li>
<li><i class="fa fa-building-o"></i> fa-building-o</li>
<li><i class="fa fa-bullhorn"></i> fa-bullhorn</li>
<li><i class="fa fa-bullseye"></i> fa-bullseye</li>
<li><i class="fa fa-calendar-o"></i> fa-calendar-o</li>
<li><i class="fa fa-camera"></i> fa-camera</li>
<li><i class="fa fa-camera-retro"></i> fa-camera-retro</li>
<li><i class="fa fa-caret-square-o-down"></i> fa-caret-square-o-down</li>
<li><i class="fa fa-caret-square-o-left"></i> fa-caret-square-o-left</li>
<li><i class="fa fa-caret-square-o-right"></i> fa-caret-square-o-right</li>
<li><i class="fa fa-caret-square-o-up"></i> fa-caret-square-o-up</li>
<li><i class="fa fa-certificate"></i> fa-certificate</li>
<li><i class="fa fa-chain"></i> fa-chain</li>
<li><i class="fa fa-check-circle"></i> fa-check-circle</li>
<li><i class="fa fa-check-circle-o"></i> fa-check-circle-o</li>
<li><i class="fa fa-check-square"></i> fa-check-square</li>
<li><i class="fa fa-check-square-o"></i> fa-check-square-o</li>
<li><i class="fa fa-chevron-circle-down"></i> fa-chevron-circle-down</li>
<li><i class="fa fa-chevron-circle-left"></i> fa-chevron-circle-left</li>
<li><i class="fa fa-chevron-circle-right"></i> fa-chevron-circle-right</li>
<li><i class="fa fa-chevron-circle-up"></i> fa-chevron-circle-up</li>
<li><i class="fa fa-circle-o"></i> fa-circle-o</li>
<li><i class="fa fa-clipboard"></i> fa-clipboard</li>
<li><i class="fa fa-cloud"></i> fa-cloud</li>
<li><i class="fa fa-cloud-download"></i> fa-cloud-download</li>
<li><i class="fa fa-cloud-upload"></i> fa-cloud-upload</li>
<li><i class="fa fa-cny"></i> fa-cny</li>
<li><i class="fa fa-code"></i> fa-code</li>
<li><i class="fa fa-code-fork"></i> fa-code-fork</li>
<li><i class="fa fa-coffee"></i> fa-coffee</li>
<li><i class="fa fa-cogs"></i> fa-cogs</li>
<li><i class="fa fa-columns"></i> fa-columns</li>
<li><i class="fa fa-comment-o"></i> fa-comment-o</li>
<li><i class="fa fa-comments"></i> fa-comments</li>
<li><i class="fa fa-compass"></i> fa-compass</li>
<li><i class="fa fa-compress"></i> fa-compress</li>
<li><i class="fa fa-copy"></i> fa-copy</li>
<li><i class="fa fa-credit-card"></i> fa-credit-card</li>
<li><i class="fa fa-crop"></i> fa-crop</li>
<li><i class="fa fa-crosshairs"></i> fa-crosshairs</li>
<li><i class="fa fa-css3"></i> fa-css3</li>
<li><i class="fa fa-cut"></i> fa-cut</li>
<li><i class="fa fa-cutlery"></i> fa-cutlery</li>
<li><i class="fa fa-dashboard"></i> fa-dashboard</li>
<li><i class="fa fa-dedent"></i> fa-dedent</li>
<li><i class="fa fa-desktop"></i> fa-desktop</li>
<li><i class="fa fa-dollar"></i> fa-dollar</li>
<li><i class="fa fa-dot-circle-o"></i> fa-dot-circle-o</li>
<li><i class="fa fa-dribbble"></i> fa-dribbble</li>
<li><i class="fa fa-dropbox"></i> fa-dropbox</li>
<li><i class="fa fa-edit"></i> fa-edit</li>
<li><i class="fa fa-eject"></i> fa-eject</li>
<li><i class="fa fa-envelope-o"></i> fa-envelope-o</li>
<li><i class="fa fa-eraser"></i> fa-eraser</li>
<li><i class="fa fa-eur"></i> fa-eur</li>
<li><i class="fa fa-euro"></i> fa-euro</li>
<li><i class="fa fa-exchange"></i> fa-exchange</li>
<li><i class="fa fa-exclamation"></i> fa-exclamation</li>
<li><i class="fa fa-exclamation-triangle"></i> fa-exclamation-triangle</li>
<li><i class="fa fa-external-link"></i> fa-external-link</li>
<li><i class="fa fa-external-link-square"></i> fa-external-link-square</li>
<li><i class="fa fa-facebook"></i> fa-facebook</li>
<li><i class="fa fa-facebook-square"></i> fa-facebook-square</li>
<li><i class="fa fa-fast-backward"></i> fa-fast-backward</li>
<li><i class="fa fa-fast-forward"></i> fa-fast-forward</li>
<li><i class="fa fa-female"></i> fa-female</li>
<li><i class="fa fa-fighter-jet"></i> fa-fighter-jet</li>
<li><i class="fa fa-file"></i> fa-file</li>
<li><i class="fa fa-file-o"></i> fa-file-o</li>
<li><i class="fa fa-file-text"></i> fa-file-text</li>
<li><i class="fa fa-file-text-o"></i> fa-file-text-o</li>
<li><i class="fa fa-files-o"></i> fa-files-o</li>
<li><i class="fa fa-film"></i> fa-film</li>
<li><i class="fa fa-filter"></i> fa-filter</li>
<li><i class="fa fa-fire"></i> fa-fire</li>
<li><i class="fa fa-fire-extinguisher"></i> fa-fire-extinguisher</li>
      </ul>
    </div>
    <div class="span4">
      <ul class="the-icons">
<li><i class="fa fa-flag"></i> fa-flag</li>
<li><i class="fa fa-flag-checkered"></i> fa-flag-checkered</li>
<li><i class="fa fa-flag-o"></i> fa-flag-o</li>
<li><i class="fa fa-flash"></i> fa-flash</li>
<li><i class="fa fa-flask"></i> fa-flask</li>
<li><i class="fa fa-flickr"></i> fa-flickr</li>
<li><i class="fa fa-floppy-o"></i> fa-floppy-o</li>
<li><i class="fa fa-folder"></i> fa-folder</li>
<li><i class="fa fa-folder-o"></i> fa-folder-o</li>
<li><i class="fa fa-folder-open"></i> fa-folder-open</li>
<li><i class="fa fa-folder-open-o"></i> fa-folder-open-o</li>
<li><i class="fa fa-font"></i> fa-font</li>
<li><i class="fa fa-forward"></i> fa-forward</li>
<li><i class="fa fa-foursquare"></i> fa-foursquare</li>
<li><i class="fa fa-frown-o"></i> fa-frown-o</li>
<li><i class="fa fa-gamepad"></i> fa-gamepad</li>
<li><i class="fa fa-gavel"></i> fa-gavel</li>
<li><i class="fa fa-gbp"></i> fa-gbp</li>
<li><i class="fa fa-gear"></i> fa-gear</li>
<li><i class="fa fa-gears"></i> fa-gears</li>
<li><i class="fa fa-gift"></i> fa-gift</li>
<li><i class="fa fa-github"></i> fa-github</li>
<li><i class="fa fa-github-alt"></i> fa-github-alt</li>
<li><i class="fa fa-github-square"></i> fa-github-square</li>
<li><i class="fa fa-gittip"></i> fa-gittip</li>
<li><i class="fa fa-glass"></i> fa-glass</li>
<li><i class="fa fa-google-plus"></i> fa-google-plus</li>
<li><i class="fa fa-google-plus-square"></i> fa-google-plus-square</li>
<li><i class="fa fa-group"></i> fa-group</li>
<li><i class="fa fa-h-square"></i> fa-h-square</li>
<li><i class="fa fa-hand-o-down"></i> fa-hand-o-down</li>
<li><i class="fa fa-hand-o-left"></i> fa-hand-o-left</li>
<li><i class="fa fa-hand-o-right"></i> fa-hand-o-right</li>
<li><i class="fa fa-hand-o-up"></i> fa-hand-o-up</li>
<li><i class="fa fa-hdd-o"></i> fa-hdd-o</li>
<li><i class="fa fa-headphones"></i> fa-headphones</li>
<li><i class="fa fa-heart"></i> fa-heart</li>
<li><i class="fa fa-heart-o"></i> fa-heart-o</li>
<li><i class="fa fa-home"></i> fa-home</li>
<li><i class="fa fa-hospital-o"></i> fa-hospital-o</li>
<li><i class="fa fa-html5"></i> fa-html5</li>
<li><i class="fa fa-inbox"></i> fa-inbox</li>
<li><i class="fa fa-indent"></i> fa-indent</li>
<li><i class="fa fa-info"></i> fa-info</li>
<li><i class="fa fa-inr"></i> fa-inr</li>
<li><i class="fa fa-instagram"></i> fa-instagram</li>
<li><i class="fa fa-italic"></i> fa-italic</li>
<li><i class="fa fa-jpy"></i> fa-jpy</li>
<li><i class="fa fa-key"></i> fa-key</li>
<li><i class="fa fa-keyboard-o"></i> fa-keyboard-o</li>
<li><i class="fa fa-krw"></i> fa-krw</li>
<li><i class="fa fa-laptop"></i> fa-laptop</li>
<li><i class="fa fa-leaf"></i> fa-leaf</li>
<li><i class="fa fa-legal"></i> fa-legal</li>
<li><i class="fa fa-lemon-o"></i> fa-lemon-o</li>
<li><i class="fa fa-level-down"></i> fa-level-down</li>
<li><i class="fa fa-level-up"></i> fa-level-up</li>
<li><i class="fa fa-lightbulb-o"></i> fa-lightbulb-o</li>
<li><i class="fa fa-linkedin"></i> fa-linkedin</li>
<li><i class="fa fa-linkedin-square"></i> fa-linkedin-square</li>
<li><i class="fa fa-linux"></i> fa-linux</li>
<li><i class="fa fa-list"></i> fa-list</li>
<li><i class="fa fa-list-ol"></i> fa-list-ol</li>
<li><i class="fa fa-list-ul"></i> fa-list-ul</li>
<li><i class="fa fa-location-arrow"></i> fa-location-arrow</li>
<li><i class="fa fa-lock"></i> fa-lock</li>
<li><i class="fa fa-long-arrow-down"></i> fa-long-arrow-down</li>
<li><i class="fa fa-long-arrow-left"></i> fa-long-arrow-left</li>
<li><i class="fa fa-long-arrow-right"></i> fa-long-arrow-right</li>
<li><i class="fa fa-long-arrow-up"></i> fa-long-arrow-up</li>
<li><i class="fa fa-magic"></i> fa-magic</li>
<li><i class="fa fa-magnet"></i> fa-magnet</li>
<li><i class="fa fa-mail-forward"></i> fa-mail-forward</li>
<li><i class="fa fa-mail-reply-all"></i> fa-mail-reply-all</li>
<li><i class="fa fa-mail-reply"></i> fa-mail-reply</li>
<li><i class="fa fa-male"></i> fa-male</li>
<li><i class="fa fa-map-marker"></i> fa-map-marker</li>
<li><i class="fa fa-maxcdn"></i> fa-maxcdn</li>
<li><i class="fa fa-medkit"></i> fa-medkit</li>
<li><i class="fa fa-meh-o"></i> fa-meh-o</li>
<li><i class="fa fa-microphone"></i> fa-microphone</li>
<li><i class="fa fa-microphone-slash"></i> fa-microphone-slash</li>
<li><i class="fa fa-minus-square"></i> fa-minus-square</li>
<li><i class="fa fa-minus-square-o"></i> fa-minus-square-o</li>
<li><i class="fa fa-mobile-phone"></i> fa-mobile-phone</li>
<li><i class="fa fa-money"></i> fa-money</li>
<li><i class="fa fa-moon-o"></i> fa-moon-o</li>
<li><i class="fa fa-music"></i> fa-music</li>
<li><i class="fa fa-outdent"></i> fa-outdent</li>
<li><i class="fa fa-pagelines"></i> fa-pagelines</li>
<li><i class="fa fa-paperclip"></i> fa-paperclip</li>
<li><i class="fa fa-paste"></i> fa-paste</li>
<li><i class="fa fa-pause"></i> fa-pause</li>
<li><i class="fa fa-pencil-square"></i> fa-pencil-square</li>
<li><i class="fa fa-pencil-square-o"></i> fa-pencil-square-o</li>
<li><i class="fa fa-phone"></i> fa-phone</li>
<li><i class="fa fa-phone-square"></i> fa-phone-square</li>
<li><i class="fa fa-picture-o"></i> fa-picture-o</li>
<li><i class="fa fa-pinterest"></i> fa-pinterest</li>
<li><i class="fa fa-pinterest-square"></i> fa-pinterest-square</li>
<li><i class="fa fa-plane"></i> fa-plane</li>
<li><i class="fa fa-play"></i> fa-play</li>
<li><i class="fa fa-play-circle"></i> fa-play-circle</li>
<li><i class="fa fa-play-circle-o"></i> fa-play-circle-o</li>
<li><i class="fa fa-plus-square-o"></i> fa-plus-square-o</li>
<li><i class="fa fa-power-off"></i> fa-power-off</li>
<li><i class="fa fa-print"></i> fa-print</li>
<li><i class="fa fa-puzzle-piece"></i> fa-puzzle-piece</li>
<li><i class="fa fa-qrcode"></i> fa-qrcode</li>
<li><i class="fa fa-question"></i> fa-question</li>
<li><i class="fa fa-quote-left"></i> fa-quote-left</li>
<li><i class="fa fa-quote-right"></i> fa-quote-right</li>
<li><i class="fa fa-random"></i> fa-random</li>
      </ul>
    </div>
    <div class="span4">
      <ul class="the-icons">
<li><i class="fa fa-renren"></i> fa-renren</li>
<li><i class="fa fa-repeat"></i> fa-repeat</li>
<li><i class="fa fa-reply"></i> fa-reply</li>
<li><i class="fa fa-reply-all"></i> fa-reply-all</li>
<li><i class="fa fa-retweet"></i> fa-retweet</li>
<li><i class="fa fa-rmb"></i> fa-rmb</li>
<li><i class="fa fa-rocket"></i> fa-rocket</li>
<li><i class="fa fa-rotate-left"></i> fa-rotate-left</li>
<li><i class="fa fa-rotate-right"></i> fa-rotate-right</li>
<li><i class="fa fa-rouble"></i> fa-rouble</li>
<li><i class="fa fa-rss"></i> fa-rss</li>
<li><i class="fa fa-rss-square"></i> fa-rss-square</li>
<li><i class="fa fa-rub"></i> fa-rub</li>
<li><i class="fa fa-ruble"></i> fa-ruble</li>
<li><i class="fa fa-rupee"></i> fa-rupee</li>
<li><i class="fa fa-save"></i> fa-save</li>
<li><i class="fa fa-scissors"></i> fa-scissors</li>
<li><i class="fa fa-search-minus"></i> fa-search-minus</li>
<li><i class="fa fa-search-plus"></i> fa-search-plus</li>
<li><i class="fa fa-share"></i> fa-share</li>
<li><i class="fa fa-share-square"></i> fa-share-square</li>
<li><i class="fa fa-share-square-o"></i> fa-share-square-o</li>
<li><i class="fa fa-shield"></i> fa-shield</li>
<li><i class="fa fa-shopping-cart"></i> fa-shopping-cart</li>
<li><i class="fa fa-sign-in"></i> fa-sign-in</li>
<li><i class="fa fa-signal"></i> fa-signal</li>
<li><i class="fa fa-skype"></i> fa-skype</li>
<li><i class="fa fa-smile-o"></i> fa-smile-o</li>
<li><i class="fa fa-sort-alpha-asc"></i> fa-sort-alpha-asc</li>
<li><i class="fa fa-sort-alpha-desc"></i> fa-sort-alpha-desc</li>
<li><i class="fa fa-sort-amount-asc"></i> fa-sort-amount-asc</li>
<li><i class="fa fa-sort-amount-desc"></i> fa-sort-amount-desc</li>
<li><i class="fa fa-sort-asc"></i> fa-sort-asc</li>
<li><i class="fa fa-sort-desc"></i> fa-sort-desc</li>
<li><i class="fa fa-sort-down"></i> fa-sort-down</li>
<li><i class="fa fa-sort-numeric-asc"></i> fa-sort-numeric-asc</li>
<li><i class="fa fa-sort-numeric-desc"></i> fa-sort-numeric-desc</li>
<li><i class="fa fa-sort-up"></i> fa-sort-up</li>
<li><i class="fa fa-spinner"></i> fa-spinner</li>
<li><i class="fa fa-square"></i> fa-square</li>
<li><i class="fa fa-square-o"></i> fa-square-o</li>
<li><i class="fa fa-stack-exchange"></i> fa-stack-exchange</li>
<li><i class="fa fa-stack-overflow"></i> fa-stack-overflow</li>
<li><i class="fa fa-star-half"></i> fa-star-half</li>
<li><i class="fa fa-star-half-empty"></i> fa-star-half-empty</li>
<li><i class="fa fa-star-half-full"></i> fa-star-half-full</li>
<li><i class="fa fa-star-half-o"></i> fa-star-half-o</li>
<li><i class="fa fa-step-backward"></i> fa-step-backward</li>
<li><i class="fa fa-step-forward"></i> fa-step-forward</li>
<li><i class="fa fa-stethoscope"></i> fa-stethoscope</li>
<li><i class="fa fa-stop"></i> fa-stop</li>
<li><i class="fa fa-strikethrough"></i> fa-strikethrough</li>
<li><i class="fa fa-subscript"></i> fa-subscript</li>
<li><i class="fa fa-suitcase"></i> fa-suitcase</li>
<li><i class="fa fa-sun-o"></i> fa-sun-o</li>
<li><i class="fa fa-superscript"></i> fa-superscript</li>
<li><i class="fa fa-tablet"></i> fa-tablet</li>
<li><i class="fa fa-tachometer"></i> fa-tachometer</li>
<li><i class="fa fa-tag"></i> fa-tag</li>
<li><i class="fa fa-tags"></i> fa-tags</li>
<li><i class="fa fa-tasks"></i> fa-tasks</li>
<li><i class="fa fa-terminal"></i> fa-terminal</li>
<li><i class="fa fa-text-height"></i> fa-text-height</li>
<li><i class="fa fa-text-width"></i> fa-text-width</li>
<li><i class="fa fa-th-large"></i> fa-th-large</li>
<li><i class="fa fa-thumb-tack"></i> fa-thumb-tack</li>
<li><i class="fa fa-thumbs-down"></i> fa-thumbs-down</li>
<li><i class="fa fa-thumbs-o-down"></i> fa-thumbs-o-down</li>
<li><i class="fa fa-thumbs-o-up"></i> fa-thumbs-o-up</li>
<li><i class="fa fa-thumbs-up"></i> fa-thumbs-up</li>
<li><i class="fa fa-ticket"></i> fa-ticket</li>
<li><i class="fa fa-tint"></i> fa-tint</li>
<li><i class="fa fa-toggle-down"></i> fa-toggle-down</li>
<li><i class="fa fa-toggle-left"></i> fa-toggle-left</li>
<li><i class="fa fa-toggle-right"></i> fa-toggle-right</li>
<li><i class="fa fa-toggle-up"></i> fa-toggle-up</li>
<li><i class="fa fa-trello"></i> fa-trello</li>
<li><i class="fa fa-trophy"></i> fa-trophy</li>
<li><i class="fa fa-truck"></i> fa-truck</li>
<li><i class="fa fa-try"></i> fa-try</li>
<li><i class="fa fa-tumblr"></i> fa-tumblr</li>
<li><i class="fa fa-tumblr-square"></i> fa-tumblr-square</li>
<li><i class="fa fa-turkish-lira"></i> fa-turkish-lira</li>
<li><i class="fa fa-twitter"></i> fa-twitter</li>
<li><i class="fa fa-twitter-square"></i> fa-twitter-square</li>
<li><i class="fa fa-umbrella"></i> fa-umbrella</li>
<li><i class="fa fa-underline"></i> fa-underline</li>
<li><i class="fa fa-undo"></i> fa-undo</li>
<li><i class="fa fa-unlink"></i> fa-unlink</li>
<li><i class="fa fa-unlock"></i> fa-unlock</li>
<li><i class="fa fa-unlock-alt"></i> fa-unlock-alt</li>
<li><i class="fa fa-unsorted"></i> fa-unsorted</li>
<li><i class="fa fa-upload"></i> fa-upload</li>
<li><i class="fa fa-usd"></i> fa-usd</li>
<li><i class="fa fa-user-md"></i> fa-user-md</li>
<li><i class="fa fa-video-camera"></i> fa-video-camera</li>
<li><i class="fa fa-vimeo-square"></i> fa-vimeo-square</li>
<li><i class="fa fa-vk"></i> fa-vk</li>
<li><i class="fa fa-volume-down"></i> fa-volume-down</li>
<li><i class="fa fa-volume-off"></i> fa-volume-off</li>
<li><i class="fa fa-volume-up"></i> fa-volume-up</li>
<li><i class="fa fa-warning"></i> fa-warning</li>
<li><i class="fa fa-weibo"></i> fa-weibo</li>
<li><i class="fa fa-wheelchair"></i> fa-wheelchair</li>
<li><i class="fa fa-windows"></i> fa-windows</li>
<li><i class="fa fa-won"></i> fa-won</li>
<li><i class="fa fa-xing"></i> fa-xing</li>
<li><i class="fa fa-xing-square"></i> fa-xing-square</li>
<li><i class="fa fa-yen"></i> fa-yen</li>
<li><i class="fa fa-youtube"></i> fa-youtube</li>
<li><i class="fa fa-youtube-play"></i> fa-youtube-play</li>
<li><i class="fa fa-youtube-square"></i> fa-youtube-square</li>
      </ul>
    </div>
  </div>
</section>

<section id="examples">
  <div class="row-fluid">
    <div class="span12">
      <h3 class="page-header">Examples</h3>
      <p>Many examples re-used from the Twitter Bootstrap documentation.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <div class="well well-transparent">
        <p>Use Font Awesome icons in:</p>
        <ul class="icons">
          <li><i class="fa fa-check"></i>Bulleted lists (like this one)</li>
          <li><i class="fa fa-check"></i>Buttons</li>
          <li><i class="fa fa-check"></i>Button groups</li>
          <li><i class="fa fa-check"></i>Navigation</li>
          <li><i class="fa fa-check"></i>Prepended form inputs</li>
          <li><i class="fa fa-check"></i>And many more with Custom CSS</li>
        </ul>
      </div>
    </div>
    <div class="span5">
      <p>
        <a class="btn"><i class="fa fa-repeat"></i> Reload</a>
        <a class="btn btn-success"><i class="fa fa-shopping-cart"></i> Checkout</a>
        <a class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</a>
      </p>
      <p>
        <a class="btn btn-primary"><i class="fa fa-comment"></i> Comment</a>
        <a class="btn btn-small"><i class="fa fa-cog"></i> Settings</a>
        <a class="btn btn-small btn-info"><i class="fa fa-info-circle"></i> Info</a>
      </p>
      <div class="well" style="padding: 8px 0;">
        <ul class="nav nav-list">
          <li class="active"><a><i class="fa fa-home"></i> Home</a></li>
          <li><a><i class="fa fa-book"></i> Library</a></li>
          <li><a><i class="fa fa-pencil"></i> Applications</a></li>
          <li><a><i class="fa fa-cogs"></i> Settings</a></li>
        </ul>
      </div>
    </div>
    <div class="span4">
      <div class="btn-toolbar">
        <div class="btn-group">
          <a class="btn"><i class="fa fa-align-left"></i></a>
          <a class="btn"><i class="fa fa-align-center"></i></a>
          <a class="btn"><i class="fa fa-align-right"></i></a>
          <a class="btn"><i class="fa fa-align-justify"></i></a>
        </div>
        <div class="btn-group">
          <a class="btn btn-primary"><i class="fa fa-user"></i> User</a>
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-down"></i></a>
          <ul class="dropdown-menu">
            <li><a><i class="fa fa-pencil"></i> Edit</a></li>
            <li><a><i class="fa fa-trash"></i> Delete</a></li>
            <li><a><i class="fa fa-ban-circle"></i> Ban</a></li>
            <li class="divider"></li>
            <li><a><i class="i"></i> Make admin</a></li>
          </ul>
        </div>
      </div>
      <form>
        <div class="control-group">
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="fa fa-envelope"></i></span>
              <input class="span2" id="inputIcon" type="text" placeholder="Email address">
            </div>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="fa fa-key"></i></span>
              <input class="span2" id="inputIcon2" type="text" placeholder="Password">
            </div>
          </div>
        </div>
      </form>
      <div>
        <span class="rating">
          <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
        </span>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <h3 class="page-header">New Styles in 3.0</h3>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <i class="fa fa-quote-left fa-4x pull-left fa-muted"></i>
      Use a few of the new styles together, and you've got easy pull quotes or a great introductory article image.
      Or spinning icons for loading and refreshing content. Or fun big icons in multi-line buttons. Lots of new possibilities.
    </div>
    <div class="span5">
      <div class="well well-large well-transparent lead">
        <i class="fa fa-spinner fa-spin fa-2x pull-left"></i> Spinner icon when loading content...
      </div>
    </div>
    <div class="span4">
      <p>
        <a class="btn btn-large btn-danger"><i class="fa fa-flag fa-2x pull-left"></i>Font Awesome<br>Version 3.0</a>
      </p>
      <a class="btn btn-primary"><i class="fa fa-refresh fa-spin"></i> Synchronizing Content...</a>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <h3 class="page-header">Example HTML</h3>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <h4>Inline Icons</h4>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <p>Place Font Awesome icons just about anywhere with the <code>&lt;i&gt;</code> tag.</p>
    </div>
    <div class="span5">
      <div class="well well-transparent">
        <div style="font-size: 24px; line-height: 1.5em;">
          <i class="fa fa-camera-retro"></i> fa-camera-retro
        </div>
      </div>
    </div>
    <div class="span4">
      <pre class="prettyprint linenums">
      &lt;i class="fa fa-camera-retro"&gt;&lt;/i&gt; fa-camera-retro
      </pre>
      <div class="alert alert-info">
        <i class="fa fa-info-circle"></i> Icon classes are echoed via CSS :before.
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <h4>Larger Icons</h4>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <p>
        To increase the size of icons relative to its container, use <code>fa-lg</code>, <code>fa-2x</code>,
        <code>fa-3x</code>, or <code>fa-4x</code>.
      </p>
      <p>
        Increase the icon size by using the <code>fa-large</code> (33% increase), <code>fa-2x</code>,
        <code>fa-3x</code>, or <code>fa-4x</code> classes.
      </p>
    </div>
    <div class="span5">
      <div class="well well-transparent">
        <div style="font-size: 24px; line-height: 1.5em;">
          <p><i class="fa fa-camera-retro fa-lg"></i> fa-camera-retro</p>
          <p><i class="fa fa-camera-retro fa-2x"></i> fa-camera-retro</p>
          <p><i class="fa fa-camera-retro fa-3x"></i> fa-camera-retro</p>
          <p><i class="fa fa-camera-retro fa-4x"></i> fa-camera-retro</p>
        </div>
      </div>
    </div>
    <div class="span4">
      <pre class="prettyprint linenums">
      &lt;p&gt;&lt;i class=&quot;fa-camera-retro fa-large&quot;&gt;&lt;/i&gt; fa-camera-retro&lt;/p&gt;
      &lt;p&gt;&lt;i class=&quot;fa-camera-retro fa-2x&quot;&gt;&lt;/i&gt; fa-camera-retro&lt;/p&gt;
      &lt;p&gt;&lt;i class=&quot;fa-camera-retro fa-3x&quot;&gt;&lt;/i&gt; fa-camera-retro&lt;/p&gt;
      &lt;p&gt;&lt;i class=&quot;fa-camera-retro fa-4x&quot;&gt;&lt;/i&gt; fa-camera-retro&lt;/p&gt;
      </pre>
      <div class="alert alert-info">
        <i class="fa fa-info-sign"></i> If your icons are getting chopped off on top and bottom, make sure you have
        sufficient line-height.
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <h4>Animated Spinner</h4>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <p>
        Use the <code>fa-spin</code> class to get any icon to rotate. Works best with <code>fa-spinner</code> and
        <code>fa-refresh</code>.
      </p>
    </div>
    <div class="span5">
      <div class="well well-large well-transparent lead">
        <i class="fa fa-spinner fa-spin"></i> Spinner icon when loading content...
      </div>
    </div>
    <div class="span4">
      <pre class="prettyprint linenums">
      &lt;i class=&quot;fa-spinner fa-spin&quot;&gt;&lt;/i&gt; Spinner icon when loading content...
      </pre>
      <p class="alert alert-info">
        <i class="fa fa-info-sign"></i> CSS3 animations aren't supported in IE7 - IE9.
      </p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <h4>Chart Icons</h4>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <p>
        The Sugar chart types have icons created in svg. The svg code is available in the <code>/assets/js/chart-utils.js</code> page. SVG images can be scaled by setting their height and width.
      </p>
    </div>
    <div class="span5">
      <div class="well well-large well-transparent chart-icon-container">
        <b>Donut</b>
        <span class="chart-icon" data-chart-type="donut"></span>
        <b>Funnel</b>
        <span class="chart-icon" data-chart-type="funnel"></span>
        <b>Horizontal</b>
        <span class="chart-icon" data-chart-type="horizontal"></span>
        <b>Line</b>
        <span class="chart-icon" data-chart-type="line"></span>
      </div>
      <div class="well well-large well-transparent chart-icon-container">
        <b>Pareto</b>
        <span class="chart-icon" data-chart-type="pareto"></span>
        <b>Pie</b>
        <span class="chart-icon" data-chart-type="pie"></span>
        <b>Stack</b>
        <span class="chart-icon" data-chart-type="stack"></span>
        <b>Vertical</b>
        <span class="chart-icon" data-chart-type="vertical"></span>
      </div>
    </div>
    <div class="span4">
      <pre class="prettyprint linenums">
      &lt;script&gt;
        var myChartSvg = svgChartIcon('funnel');
      &lt;/script&gt;
      </pre>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <h4>Filetype Thumbnails</h4>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span3">
      <p>
        File type thumbnails are created by inserting a <code>span</code> tag with a classname of <code>.filetype-thumbnail</code> and adding a data-filetype property that is set to the file extension. If the file extension is one of "PDF,PNG,TXT,JPG,GIF,PPT,DOC,XLS" then it will have a colored background, else it will be grey. The last step is to insert the thumbmail SVG into the span.
      </p>
    </div>
    <div class="span5 filetype-thumbnails">
      <span class="filetype-thumbnail" data-filetype="PDF"></span>
      <span class="filetype-thumbnail" data-filetype="DOC"></span>
      <span class="filetype-thumbnail" data-filetype="PPT"></span>
      <span class="filetype-thumbnail" data-filetype="XLS"></span>
      <span class="filetype-thumbnail" data-filetype="PNG"></span>
      <span class="filetype-thumbnail" data-filetype="JPG"></span>
      <span class="filetype-thumbnail" data-filetype="GIF"></span>
      <span class="filetype-thumbnail" data-filetype="TXT"></span>
      <span class="filetype-thumbnail" data-filetype="XYZ"></span>
    </div>
    <div class="span4">
      <pre class="prettyprint linenums">
      &lt;script&gt;
      $('.filetype-thumbnail').each(function(){
        $(this).html( '&lt;svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.1" width="28" height="33" id="filetype-svg2"&gt;&lt;g id="layer1"&gt;&lt;path d="m 1,1 19,0 7,7 0,24 -26,0 z" id="rect2985" style="fill:#ececec;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4" /&gt;&lt;path d="m 20,1 0,7 7,0 z" style="fill:#cccccc;stroke:#000000;stroke-width:1px;stroke-linecap:square;stroke-linejoin:round;" /&gt;&lt;/g&gt;&lt;/svg&gt;' );
      });
      &lt;/script&gt;
      </pre>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <h4>The Sugar Cube</h4>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span3 offset3" style="padding:20px 0">
        <span class="sugar-cube"></span>
    </div>
    <div class="span3" style="background-color: #ddd;padding:20px 25px">
        <span class="sugar-cube sc-white"></span>
    </div>
    <div class="span3" style="padding:40px 0">
        <span class="sugar-cube sc-small fa-spin"></span>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span9 offset3">
        <span class="sugar-cube sc-large"></span>
    </div>
  </div>

</section>
