{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="compose-sender-options">
	<div class="btn-group">
		<a type="button" class="btn" data-toggle-field="cc_addresses" tabindex="-1"><span class="text">{{str "LBL_CC_BUTTON" this.module}}</span></a>
		<a type="button" class="btn" data-toggle-field="bcc_addresses" tabindex="-1"><span class="text">{{str "LBL_BCC_BUTTON" this.module}}</span></a>
	</div>
</div>
