// Variables.less
// Variables to customize the look and feel of Bootstrap
// -----------------------------------------------------

// Primary Color:
// 3 pixel line on the navbar
// -------------------------
// was @primary
@BorderColor: #d3dbe1;


// Secondary Color:
// color of the navbar
// -------------------------
// was @secondary
@NavigationBar: #fff;


// Primary Button Color:
// color of the primary button
// -------------------------
// was @primaryBtn
@PrimaryButton: #0679c8;
