{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div id="tutorial" style="display:none">
    <div id="mask" class="mask"></div>
    <div id="tutorial-content"></div>
    <div id="tutorial-controls">
        <div class="btn-group">
            <a title="Back" href="#" class="btn btn-inverse back-btn disabled" track="click:tutorial_back"><i class="fa fa-chevron-left"></i></a>
            <a title="Done" href="#" class="btn btn-inverse done-btn" track="click:tutorial_done"><span>{{str "LBL_DONE_BUTTON_LABEL"}}</span></a>
            <a title="Next" href="#" class="btn btn-inverse next-btn" track="click:tutorial_forward"><i class="fa fa-chevron-right"></i></a>
        </div>
    </div>
</div>
