{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<footer>
    <div class="table-row">
        <div class="table-cell">
            <a href="#Home" title="SugarCRM" class="logo"><img data-metadata="logo" src="" alt="SugarCRM"></a>
        </div>
        <div class="table-cell">
            <div class="btn-toolbar pull-right"></div>
        </div>
    </div>
</footer>
