/* NEW SKIN START */

.activitystream-posts-comments-container {
  /* override */
  padding-right: 54px;
  padding-left: 14px;

  .avatar,
  .label-module {
    /* override */
    right: 12px;
    padding: 0;
  }
}

/* NEW SKIN END */
