.btn-slider .noUiSliderEnds {
  margin: 0 0 0 30px;
}

.nv-chart-org .nv-foreign-object img.rep-avatar {
  float: right;
  margin-left: 4px;
  margin-right: 0;
}

.jstree ins {
  margin-left: 5px;
  margin-right: 0 !important;
}
