.merge-interface input[type=radio] {
  margin-right: 0;
  margin-left: 6px;
}

.merge-interface .merge-row.merge-row-field-teamset button {
  left: auto;
  right: 61px;
}

h4.merge-interface-header {
  padding-right: 20px;
}

h4.merge-interface-header button {
  left: -7px;
  position: relative;
  text-align: right;
}
