.select2-container.select2-allowclear .select2-choice .select2-chosen {
  margin-left: 36px;
}

.select2-container .select2-choice abbr {
  left: 18px;
  right: auto;
}

.select2-container,
.select2-results {
  text-align: right;
}

.select2-container.select2-container-multi.select2-choices-pills-close {
  .select2-search-choice {
    padding: 2px 6px 2px 4px;

    .select2-search-choice-close {
      display: inline-block;
    }
  }
}

.select2-container-multi .select2-choices li {
  float: right;
}

.select2-container {
  .select2-choice {
    padding-left: 20px;

    .select2-arrow {
      right: auto;
      left: -3px;
    }

    .select2-chosen {
      margin-right: 8px;
      direction: rtl;
    }
  }

  &.search-filter .select2-choice {
    padding-left: 6px;
  }

  &.select2-choices-pills .select2-search-choice,
  &.select2-container-multi.select2-choices-pills-close .select2-search-choice {
    &.select2-choice-danger {
      span::before {
        content: '';
      }

      span::after {
        content: "\f06a";
        font-family: 'FontAwesome';
        color: @white;
        padding-left: 3px;
      }
    }
  }
}

.select2-search::after {
  left: 9px;
  right: initial;
}

.select2-search input.select2-active {
  background-position: 3px;
}

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
  padding-right: 5px;
  padding-left: 0;
}
