#sweetspot {
  .sweetspot-searchbar {
    input[type=text] {
      left: 0;
      right: 5px;
    }

    img {
      right: -10px;
      float: left;
      position: relative;
    }

    i {
      margin: 3px 0 0 -37px;
    }
  }

  .sweetspot-results {
    li[data-sweetaction] {
      span.label {
        left: 0;
        right: 6px;
      }

      a > div.result-text {
        div.result-keyword.label {
          float: left;
          margin: 6px 3px 0 0;
        }
      }

      .sweetspot-icon {
        right: -20px;
        margin: 3px 0 0 3px;
        float: left;
        position: relative;
      }
    }
  }
}

.sweetspot-config {
  .row-fluid [class*="span"] {
    float: none;
  }
}
