.sc-tooltip {
  .tooltip-inner,
  .tooltip-header {
    text-align: right;
  }

  .tooltip-grid {
    span {
      text-align: right;
    }

    span:first-child {
      padding-right: 0;
      padding-left: 6px;
      text-align: left;
    }
  }
}
