{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}

<div class="control-group dashlet-options">
    <div class="controls{{#if isManager}} controls-two btn-group-fit{{/if}}">
        <div class="row-fluid">
            <div class="span6 groupByOptions">
                {{#with dashletConfig.group_by}}
                    {{field ../this model=../this.values}}
                {{/with}}
            </div>
            {{#if dashletConfig.show_dataset}}
            <div class="span6">
                {{#with dashletConfig.dataset}}
                    {{field ../this model=../this.values}}
                {{/with}}
            </div>
            {{/if}}
        </div>
    </div>
</div>
{{#with dashletConfig.chart}}
    {{field ../this model=../this.values}}
{{/with}}

