{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<!-- Form layouts
================================================== -->
<section id="form-layouts">
  <div class="page-header">
    <p class="lead">{{{meta.description}}}</p>
  </div>

  <h2 id="dFE3fA">Address</h2>

  <div class="row-fluid">
    <div class="span6 record-cell" data-type="fieldset" data-name="fieldset_address">
      <div class="record-label" data-name="">Billing Address</div>
      <span class="normal index8" data-fieldname="fieldset_address" data-index="8" data-tour="tour-Accounts-fieldset_address">
        <span sfuuid="412">
          <span sfuuid="413" class="address_street">
            <div class="ellipsis_inline" >
              111 Silicon Valley Road
            </div>
          </span>
          <span sfuuid="414" class="address_city">
            <div class="ellipsis_inline" >
              St. Petersburg
            </div>
          </span>
          <span sfuuid="415" class="address_state">
            <div class="ellipsis_inline" >
              CA
            </div>
          </span>
          <span sfuuid="416" class="address_zip">
            <div class="ellipsis_inline" >
              30373
            </div>
          </span>
          <span sfuuid="417" class="address_country">
            <div class="ellipsis_inline" >
              USA
            </div>
          </span>
        </span>
      </span>
      <span class="record-edit-link-wrapper" data-name="fieldset_address">
        <a class="record-edit-link btn btn-invisible" data-type="fieldset" data-name="fieldset_address"><i class="fa fa-pencil"></i></a>
      </span>
    </div>
  </div>

  <hr>
  <h2>Input fields inheriting width of the parent container</h2>

  <form class="form-horizontal clearfix">
    <fieldset class="card2 span6">

      <div class="row-fluid control-group">
        <div class="control-label span3">
          <label for="input01">Field:</label>
        </div>
        <div class="controls span9 controls-four btn-fit">
          <input type="text" id="input01" class="inherit-width">
          <a href="" class="btn fourth" rel="tooltip" title="Primary"><i class="fa fa-star"></i></a>
          <a href="" class="btn third" rel="tooltip" title="Add another"><i class="fa fa-plus"></i></a>
          <a href="" class="btn second" rel="tooltip" title="Primary"><i class="fa fa-minus"></i></a>
          <a href="" class="btn first" rel="tooltip" title="Add another"><i class="fa fa-star"></i></a>
        </div>
      </div>

      <div class="row-fluid control-group">
        <div class="control-label span3">
          <label for="input01">Field:</label>
        </div>
        <div class="controls span9 controls-three btn-fit">
          <input type="text" id="input01" class="inherit-width">
          <a href="" class="btn third" rel="tooltip" title="Primary"><i class="fa fa-star"></i></a>
          <a href="" class="btn second" rel="tooltip" title="Add another"><i class="fa fa-plus"></i></a>
          <a href="" class="btn first" rel="tooltip" title="Primary"><i class="fa fa-star"></i></a>
        </div>
      </div>

      <div class="row-fluid control-group">
        <div class="control-label span3">
          <label for="input01">Field:</label>
        </div>
        <div class="controls span9 controls-two btn-fit">
          <input type="text" id="input01" class="inherit-width">
          <a href="" class="btn second" rel="tooltip" title="Primary"><i class="fa fa-star"></i></a>
          <a href="" class="btn first" rel="tooltip" title="Add another"><i class="fa fa-plus"></i></a>
        </div>
      </div>

      <div class="row-fluid control-group">
        <div class="control-label span3">
          <label for="input01">Field:</label>
        </div>
        <div class="controls span9 controls-one btn-fit">
          <input type="text" id="input01" class="inherit-width">
          <a href="" class="btn first" rel="tooltip" title="Primary"><i class="fa fa-star"></i></a>
        </div>
      </div>

      <div class="row-fluid control-group">
        <div class="control-label span3">
          <label for="input01">Field:</label>
        </div>
        <div class="controls span9">
          <input type="text" id="input01" class="inherit-width">
        </div>
      </div>

    </fieldset>
  </form>

  <form class="form-horizontal clearfix">
    <fieldset class="card2 span6">

      <div class="row-fluid control-group">
        <div class="control-label span3">
          <label for="input01">Field:</label>
        </div>
        <div class="controls span9 controls-four btn-group-fit">
          <input type="text" id="input01" class="inherit-width">
          <div class="btn-group">
            <a href="" class="btn" rel="tooltip" title="Primary"><i class="fa fa-star"></i></a>
            <a href="" class="btn" rel="tooltip" title="Add another"><i class="fa fa-plus"></i></a>
            <a href="" class="btn" rel="tooltip" title="Primary"><i class="fa fa-minus"></i></a>
            <a href="" class="btn" rel="tooltip" title="Add another"><i class="fa fa-star"></i></a>
          </div>
        </div>
      </div>

      <div class="row-fluid control-group">
        <div class="control-label span3">
          <label for="input01">Field:</label>
        </div>
        <div class="controls span9 controls-three btn-group-fit">
          <input type="text" id="input01" class="inherit-width">
          <div class="btn-group">
            <a href="" class="btn" rel="tooltip" title="Primary"><i class="fa fa-star"></i></a>
            <a href="" class="btn" rel="tooltip" title="Add another"><i class="fa fa-plus"></i></a>
            <a href="" class="btn" rel="tooltip" title="Primary"><i class="fa fa-star"></i></a>
          </div>
        </div>
      </div>

      <div class="row-fluid control-group">
        <div class="control-label span3">
          <label for="input01">Field:</label>
        </div>
        <div class="controls span9 controls-two btn-group-fit">
          <input type="text" id="input01" class="inherit-width">
          <div class="btn-group">
            <a href="" class="btn" rel="tooltip" title="Primary"><i class="fa fa-star"></i></a>
            <a href="" class="btn" rel="tooltip" title="Add another"><i class="fa fa-plus"></i></a>
          </div>
        </div>
      </div>

    </fieldset>
  </form>

  <hr>
  <h2>Card fields</h2>

  <div class="record row-fluid panel_body">
    <div class="span6 record-cell" data-type="type" data-name="name">
      <div class="record-label">Label</div>
      <span class="normal index5" >
        <span sfuuid="123451">
          <input type="text" name="name" value="111-222-3333" class="input-large">
          <p class="help-block"></p>
        </span>
      </span>
    </div>

    <div class="span6 record-cell error" data-type="type" data-name="name">
      <div class="record-label">Label</div>
      <span class="normal index5" >
        <span sfuuid="123451">
            <div class="input-append error">
                <input type="text" name="name" value="111-222-3333" class="input-large">
                <span class="error-tooltip  add-on local" rel="tooltip" data-original-title="Error: This field is required"><i class="fa fa-exclamation-circle"></i></span>
            </div>
        </span>
      </span>
    </div>
  </div>

  <hr>
  <h2>Card 2</h2>

  <form class="form-horizontal padded">
    <fieldset class="card2">
      <div class="row-fluid control-group">
        <div class="control-label span2">
          <label for="input01">Name:</label>
        </div>
        <div class="controls span10">
          <input type="text" id="input01" class="inherit-width">
        </div>
      </div>
      <div class="row-fluid control-group">
        <div class="span2 control-label">
          <label for="select01">Sales Stage:</label>
        </div>
        <div class="controls span10">
          <select id="select01" data-placeholder="Choose a Lead..." class="select2 inherit-width">
            <option value="pk" selected="selected">Proposal</option>
            <option value="pk">Closed Won</option>
            <option value="pk">Closed Lost</option>
          </select>
        </div>
      </div>
      <div class="row-fluid control-group">
        <div class="span2 control-label">
          <label for="select02">Account:</label>
        </div>
        <div class="controls span4">
          <select id="select02" data-placeholder="Choose a Lead..." class="select2 inherit-width">
            <option value="pk" selected="selected">Perkin Kleiners</option>
            <option value="pk">Underwater Mining Inc.</option>
            <option value="pk">Weyland</option>
          </select>
        </div>
      </div>
      <div class="row-fluid control-group">
        <div class="span2 control-label">
          <label for="input03">Amount:</label>
        </div>
        <div class="controls span4">
          <input type="text" id="input01" class="inherit-width">
        </div>
      </div>
    </fieldset>
  </form>

  <hr>

  <div class="modal hide in" style="display: block;position: relative;top: 0;left: 0;margin: 0; ">
    <div class="modal-header">
      <a class="close" data-dismiss="modal"><i class="fa fa-times"></i></a>
      <h3>Create Note or Add Attachment</h3>
    </div>
    <div class="modal-body">
      <div class="modal-content">
        <form class="form-horizontal" enctype="multipart/form-data" method="POST">
          <!-- Fix for styleguide -->
          <fieldset style="width: 100%">
            <div class="row-fluid control-group">
              <label class="span2">Subject</label>
              <div class="span10">
                <span sfuuid="311">
                  <input type="text" name="name" value="" class="input-large">
                  <p class="help-block"></p>
                </span>
              </div>
            </div>

            <div class="row-fluid control-group error">
              <label class="span2">Subject</label>
              <div class="span10">
                <div class="input-append">
                  <span sfuuid="311">
                      <div class="input-append error">
                          <input type="text" name="name" value="" class="input-large">
                          <span class="error-tooltip  add-on local" rel="tooltip" data-original-title="Error: This field is required"><i class="fa fa-exclamation-circle"></i></span>
                      </div>
                  </span>
                </div>
              </div>
            </div>
            <hr>

            <div class="row-fluid control-group">
              <label class="span2">Note</label>
              <div class="span10">
                <span sfuuid="312">
                  <textarea rows="5" cols="90" name="description" class="input-xlarge wide tleft"></textarea>
                  <p class="help-block"></p>
                </span>
              </div>
            </div>

            <div class="row-fluid control-group error">
              <label class="span2">Note</label>
              <div class="span10">
                <div class="input-append textarea">
                  <span sfuuid="312">
                      <div class="input-append error">
                          <textarea rows="5" cols="90" name="description" class="input-xlarge wide tleft"></textarea>
                          <span class="error-tooltip  add-on local" rel="tooltip" data-original-title="Error: This field is required"><i class="fa fa-exclamation-circle"></i></span>
                      </div>
                  </span>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
          <span sfuuid="314"><a class="btn btn-invisible btn-link" href="javascript:void(0)" name="cancel_button">Cancel</a></span>
          <span sfuuid="315"><a class="btn btn-primary" href="javascript:void(0)" name="save_button">Save</a></span>
      </div>
    </div>
  </div>

</section>

<!-- dynamic generation -->
<div class="modal hide" id="noteModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Add a Note</h3>
  </div>
  <div class="modal-body">
    <div class="modal-content">
    <form class="form-horizontal">
      <fieldset>
        <div class="control-group">
          <label for="input01" class="control-label">Subject:</label>
          <div class="controls">
            <input type="text" id="input01" class="input-xlarge">
          </div>
        </div>
        <div class="control-group">
          <label for="select01" class="control-label">Note:</label>
          <div class="controls">
            <textarea class="input-xlarge"></textarea>
          </div>
        </div>
        <div class="control-group">
          <label for="select01" class="control-label">Attachement:</label>
          <div class="controls">
            <input type="file">
          </div>
        </div>
        <div class="hide">
          <div class="control-group">
            <label for="select01" class="control-label">Contact:</label>
            <div class="controls">
              <select data-placeholder="Choose a user..." class="select2" tabindex="2">
                <option value="pk"></option>
                <option value="pk">Administrator</option>
                <option value="pk">Majed Itani</option>
                <option value="pk">Uriah Welcome</option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label for="select01" class="control-label">Related to:</label>
            <div class="controls">
              <select data-placeholder="Choose a account..." class="select2" tabindex="2">
                <option value="pk" selected="selected">Account</option>
                <option value="pk">Contact</option>
                <option value="pk">Opportunity</option>
              </select>
              <select data-placeholder="Choose a account..." class="select2" tabindex="2">
                <option value="pk" selected="selected">Perkin Kleiners</option>
                <option value="pk">Underwater Mining Inc.</option>
                <option value="pk">Weyland</option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label for="select01" class="control-label">Assigned to:</label>
            <div class="controls">
              <select data-placeholder="Choose a user..." class="select2" tabindex="2">
                <option value="pk"></option>
                <option value="pk">Administrator</option>
                <option value="pk">Majed Itani</option>
                <option value="pk">Uriah Welcome</option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label for="select01" class="control-label">Teams:</label>
            <div class="controls">
              <select data-placeholder="Choose a account..." class="select2" tabindex="2" multiple>
                <option value="pk">Global</option>
                <option value="pk" selected="selected">East</option>
                <option value="pk">West</option>
                <option value="pk">North</option>
                <option value="pk">South</option>
              </select>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
    </div>
    <div class="modal-footer">
      <button class="btn cancel" data-dismiss="modal">Cancel</button>
      <a href="index.html" data-loading-text="Saving..." class="btn loading btn-primary">
        Save
      </a>
    </div>
  </div>
</div>
